
.body{
    background-color: rgb(255, 255, 255);
}
.label{
    background-color: blanchedalmond;
}
.titulo{
    padding: 10px;
    color:rgb(4, 4, 54);
    text-align: center;
}
.parrafo{
    text-align: center;
    color: black;
}
