.titulo{
    padding: 10px;
    color:rgb(4, 4, 54);
    text-align: center;
}
.body{
    background-color: white;
}

.parrafo{
    text-align: center;
    color:black;
}
.fondo{
    background-color: rgb(50, 173, 230);
}
.btn{
    padding-left: 16%;
}



